
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: rgb(224, 237, 249);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(172, 191, 211);
}
body{
    background-color: rgb(224, 237, 249);
}
input[type = 'number']::-webkit-inner-spin-button{
    display: none;
}
input[type = 'number']::-webkit-outer-spin-button{
    display: none;
}
input[type = 'text']{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    pointer-events: none;
}
.main-box{
    display: flex;
    padding: 20px 120px;
}
.car-cards{
    max-width: calc(100% - 280px);
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.car-card{
    position: relative;
    display: flex;
    border-radius: 6px;
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    transition: .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.car-card:hover{
    transform: scale(1.01);
}
.car-card .label{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 50px;
    border-radius: 0 0 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7da3db;
    color: #fff;
}
.car-card .label span{
    font-size: 15px;
}
.car-card .label i{
    margin-left: 5px;
    font-size: 16px;
}
.car-card .image{
    width: 400px;
    height: 320px;
}
.car-card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.car-card .details{
    width: 80%;
    margin-left: 20px;
}
.details .card-title{
    font-size: 20px;
    font-weight: 500;
    color: #333;
}
.details .car-company{
    font-size: 16px;
    opacity: .8;
    color: #333;
}
.details .color-box{
    display: flex;
    align-items: center;
    margin: 10px;
}
.details .color-box span{
    font-size: 16px;
    opacity: .8;
    margin-right: 8px;
}
.details .colors{
    display: flex;
    align-items: center;
}
.details .colors .color{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    transition: .2s;
}
.details .colors .color.active{
    box-shadow: 0 0 0 2px #fff , 0 0 0 3px #5d5b5b;
}
.details .Specification{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}
.details .Specification-box{
    display: flex; 
    align-items: center;
    margin-left: 15px;
}
.details .Specification-box .text{
    font-size: 15px;
    opacity: .8;
}
.details .main-Specification{
    font-size: 16px;
    color: #333;
}
.details .info{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
}
.details .info-text{
    font-size: 16px;
    opacity: .8;
}
.details .main-info-box{
    display: flex;
    align-items: center;
}
.details .info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #777;
    padding: 5px;
    border-radius: 6px;
    margin: 5px;
}
.details .info-box i{
    font-size: 20px;
    color: #777;
}
.price-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
}
.price-button .price{
    display: flex;
    align-items: center;
}
.main-price{
    font-size: 20px;
    text-decoration: line-through;
    color: #777;
    margin-right: 20px;
}
.discount{
    display: flex;
    align-items: center;
}
.discount-text{
    font-size: 24px;
    color: #333;
}
.discount-time{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #777;
}
.discount-time .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    background: rgba(255, 255, 255, .4);
    border-radius: 6px;
    padding: 5px;
}
.price-button .button{
    width: 120px;
    height: 40px;
}
.price-button .select-btn{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: rgb(88, 178, 234);
    color: #fff;
    color: 16px;
    cursor: pointer;
    transition: .2s;
}
.price-button .select-btn:hover{
    background-color: rgb(64, 152, 206);
}
.filter-box{
    max-width: 280px;
    width: 100%;
    height: 625px;
    overflow-y: scroll;
    margin-top: 10px;
    background-color: blueviolet;
    border-radius: 6px;
    background-color: #fff;
    padding: 20px;
}
.filter-box.fix{
    position: sticky;
    top: 100px;
    left: 0;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        left: -20px;
    }100%{
        opacity: 1;
        left: 0;
    }
    
}
.filter-box .main-title{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}
.main-filter-box{
    margin-top: 10px;
}
.main-filter-box h4{
    font-size: 15px;
    color: #777;
}
.filter-box .people-range{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-box .people-range input{
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background-color: #c3c1c8;
    border-radius: 6px;
}
.people-range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    background-color: #7da3db;
    cursor: pointer;
}
.filter-box .people-range span{
    border: 1px solid #c3c1c8;
    padding: 2px 10px;
    border-radius: 6px;
    margin-left: 10px;
}
.price-filter{
    width: 100%;
}
.price-range-box .slider{
    width: 100%;
    background-color: #c3c1c8;
    height: 5px;
    border-radius: 6px;
    margin-top: 15px;
    position: relative;
}
.price-range-box .notice{
    font-size: 15px;
    opacity: .8;
}
.price-range-box .slider .progress{
    position: absolute;
    top: 0;
    left: 25%;
    height: 100%;
    background-color: #7da3db;
    border-radius: 6px;
}
.price-filter .range-input{
    position: relative;
}
.price-filter .range-input input{
    -webkit-appearance: none;
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
}
.price-filter .range-input input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    background-color: #7da3db;
    pointer-events: auto;
}
.price-filter .range-number{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.price-filter .min-range  ,
.price-filter .max-range {
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-filter .number-box input{
    width: 80px;
    height: 40px;
    padding: 2px 5px;
    border: 1px solid #c3c1c8;
    outline: none;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    margin-left: 5px;
    transition: .2s;
}
.price-filter .number-box input:focus{
    border: 1px solid #7da3db;
}
.price-filter .number-box input::-webkit-inner-spin-button ,
.price-filter .number-box input::-webkit-outer-spin-button {
    display: none;
}
.price-filter .max-range span:nth-child(1){
    margin-left: 10px;
}
.filter-box .select{
    display: flex;
    align-items: center;
}
.filter-box .select .select-text{
    opacity: .8;
    font-size: 14px;
}
.filter-box .select .header{
    display: flex;
    align-items: center;
    min-width: 70px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    border: 1px solid #c3c1c8;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 5px;
}
.filter-box .select .header .select-list{
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    list-style: none;
    transition: .2s ease-in-out;
}
.filter-box .select .header.active .select-list{
    opacity: 1;
    z-index: 100;
    top: 30px;
}
.filter-box .select .header .select-item{
    padding: 5px;
}
.filter-box .select .header .select-item:hover{
    background-color: #7da3db;
    color: #fff;
}
.filter-box .type{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px ,1fr));
    grid-gap: 20px 30px;
    margin-top: 20px;
}
.type .column{
    width: 150px;
    height: 40px;
    position: relative;
}
.type .column .type-input{
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.type .column label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-20%);
    width: 100%;
    height: 100%;
    font-size: 14px;
    background: none;
    border: none;
    outline: none;
    pointer-events: none;
}
.filter-box .type .type-input{
    padding: 2px 5px;
    border: 1px solid #c3c1c8;
    border-radius: 6px;
    margin: 5px;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
}
.filter-box .type .type-input.active{
    background-color: #7da3db;
    border: none;
}
.filter-box .type .type-input.active ~ label{
    color: #fff;
}
.filter-box .special-option{
    margin-top: 30px;
}
.filter-box .special-option .select{
    display: flex;
    flex-direction: column;
}
.filter-box .special-option .header{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option-list {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.option-list .option-box{
    padding: 2px 5px;
    border: 1px solid #c3c1c8;
    border-radius: 6px;
    background-color: #7da3db;
    margin: 2px;
    color: #fff;
    position: relative;
    user-select: none;
    cursor: pointer;
}
.option-list .option-box span{
    font-size: 14px;
}
.option-list .option-box i{
    cursor: pointer;
}