@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: rgb(224, 237, 249);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(172, 191, 211);
}

body{
    background-color: rgb(224, 237, 249);
}
header{
    position: relative;
    width: 100%;
    padding: 15px 80px;
    transition: .1s;
}
header.scroll{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    animation:fade .5s linear;
    z-index: 100;
}
@keyframes fade{
    0%{
        opacity: 0;
        top:50px;
    }100%{
        opacity: 1;
        top: 0;
    }
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu{
    display: flex;
    align-items: center;
}
header .logo-text{
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
}
header .menu-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 80px;
}
header .menu-item{
    margin-left: 30px;
    padding: 10px;
    position: relative;
}
header .menu-item::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #333;
    transition: .2s;
}
header .menu-item:hover::before{
    width: 100%;
}
header .menu-link{
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
.sub-menu{
    position: absolute;
    top: 45px;
    left: -110px;
    width: 70vw;
    height: 382px;
    transform: scale(.8);
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    list-style: none;
    opacity: 0;
    z-index: -100;
    transition: .2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    pointer-events: none;
}
.menu-item:hover .sub-menu{
    opacity: 1;
    z-index: 200;
    transform: scale(1);
    pointer-events: fill;
}
header.scroll .sub-menu{
    opacity: 0;
    z-index: -100;
    top: 45px;
    border-radius: 0 0 6px 6px;
}
header.scroll .menu-item:hover .sub-menu{
    opacity: 1;
    z-index: 180;
    transform: scale(1);
    pointer-events: fill;
}
.sub-menu-item-box{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #e3ebed;
    padding: 20px;
}
header.scroll .sub-menu-item-box{
    background: none;
    border-right: 2px solid #e3ebed;
}
.sub-menu-item{
    list-style: none;
    padding: 10px;
    transition: .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;
    border-radius: 6px;
    margin-top: 5px;
    opacity: .6;
}
.sub-menu-item:hover{
    background-color: #c4d9e0;
}
.sub-menu-item.active{
    background-color: #acdbe9;
    opacity: 1;
}
.show-sub-menu-box{
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
}
.second-list{
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 250px);
    max-height: 80%;
    padding-top: 20px;
    opacity: 0;
    z-index: -100;
    display: none;
    overflow-y: scroll;
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.second-list::-webkit-scrollbar{
    display: none;
}
.second-list.active{
    display: flex;
    opacity: 1;
    z-index: 100;
    bottom: 0;
}
.second-menu-item{
    margin: 0 20px;
    list-style: none;
    min-width: 168px;
    padding: 10px;
}
.second-menu-link{
    text-decoration: none;
    min-width: 100px;
    color: #333;
    transition: .1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.second-menu-link:hover{
    color: #acdbe9;
}
.second-menu-item img{
    opacity: 0;
    z-index: -100;
    width: 10px;
    height: 10px;
    display: none;
}
.car-image{
    width: 200px;
    height: auto;
    margin: 10px;
    opacity: 0;
    z-index: -100;
    transition: .3s cubic-bezier(0.86, 0, 0.07, 1);
}
.car-image.active{
    opacity: 1;
    z-index: 100;
}
.car-image img{
    opacity: 0;
    z-index: -100;
    width: 200px;
    height: 250px;
    border-radius: 6px;
    object-fit: cover;
    transition: .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.car-image.active img{
    opacity: 1;
    z-index: 100;
}
header .number-user{
    display: flex;
    align-items: center;
}
header .number-user .number-day{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
header .number-day span:nth-child(2){
    opacity: .6;
    font-size: 14px;
}
header .user-icon{
    width: 40px;
    height: 40px;
    background-color: rgb(208, 222, 236);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    cursor: pointer;
}
header .user-icon i{
    font-size: 22px;
    color: #333;
}
header .number-user .button{
    width: 120px;
    height: 40px;
}
header .explore-btn{
    width: 100%;
    height: 100%;
    background-color: rgb(88, 178, 234);
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}
header .explore-btn:hover{
    background-color: rgb(67, 167, 229);
}
.banner{
    margin-top: 20px;
    padding: 20px 100px;
}
.banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .image img{
    position: relative;
    width: 700px;
    height: 600px;
    border-radius: 25px;
    animation: fadeTop 1s ease-out;
}
@keyframes fadeTop{
    0%{
        opacity: 0;
        top: 100px;
    }100%{
        opacity: 1;
        top: 0;
    }
}
.banner .banner-detail{
    position: relative;
    animation: fadeBottom 1s ease-out;
}
@keyframes fadeBottom{
    0%{
        opacity: 0;
        top: -100px;
    }100%{
        opacity: 1;
        top: 0;
    }
}
.banner .banner-detail h2{
    font-size: 40px;
    max-width: 500px;
    font-weight: 500;
}
.banner .banner-detail{
    margin-left: 30px;
}
.banner .banner-detail p{
    font-size: 18px;
    opacity: .6;
    margin: 10px 0;
    max-width: 500px;
}
.banner .search-box{
    width: 800px;
    background:rgba(255, 255,255, .7);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px;
    margin-left: -120px;
}
.banner .search-box form{
    width: 100%;
    display: flex;
    align-items: center;
}
.banner .form-box{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.banner .form-box label{
    font-size: 14px;
    opacity: .7;
    margin-bottom: 5px;
}
.banner .form-box input{
    width:180px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #f4f0ff;
    font-size: 13px;
    border-radius: 6px;
    padding: 10px;
    color: #333;
}
.banner .form-box input:focus{
    border: 2px solid  rgb(88, 178, 234);
}
.banner .search-btn{
    width: 120px;
    height: 40px;
    background-color: rgb(88, 178, 234);
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
    transition: .2s;
}
.banner .search-btn:hover{
    background-color: rgb(67, 167, 229);
}
.last-card{
    margin-top: 20px;
    padding: 20px 120px;
}
.last-card h2{
    font-size: 25px;
    font-weight: 500;
    color: #333;
    padding: 0 20px;
}
.last-card .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.last-card .card{
    width: 378px;
    background-color: rgb(208, 222, 236);
    padding:10px 20px;
    border-radius: 10px;
    margin:20px;
}
.last-card .card-content{
    display: flex;
    flex-direction: column;
}
.last-card .image img{
    width: 100%;
    height: 200px;object-fit: cover;
    border-radius: 10px;
}
.last-card .name-year{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 10px;
}
.last-card .name-year h4{
    font-size: 22px;
    color: #333;
    font-weight: 500;
}
.last-card .name-year span{
    border: 1px solid rgb(88, 178, 234);
    border-radius: 10px;
    padding: 5px;
    opacity: .7;
    color: #333;
}
.last-card .icon-info{
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.last-card .icon-info .info{
    width: 150px;
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.last-card .icon-info .info i{
    font-size: 22px;
    margin-right: 5px;
    color: rgb(127, 183, 235);
}
.last-card .seperator{
    width: 100%;
    height: 2px;
    background-color: #cbcbe5;
    margin-top: 10px;
    border-radius: 10px;
}
.last-card .price-rent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 10px;
}
.last-card .price-rent span{
    font-size: 22px;
    color: #333;
    font-weight: 500;
}
.last-card .rent-btn{
    width: 100px;
    height: 40px;
    background-color:rgb(127, 183, 235);
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s;
}
.last-card .rent-btn:hover{
    background-color: rgb(67, 167, 229);
}
.last-card .show-more{
    width: 150px;
    height: 40px;
    margin: 10px auto;
}
.last-card .showMore-btn{
    width: 100%;
    height: 100%;
    background-color:rgb(127, 183, 235);
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}
.steps{
    margin-top: 30px;
    padding: 20px 120px;
}
.steps h2{
    font-size: 25px;
    font-weight: 500;
    color: #333;
    padding-left: 20px;
}
.steps .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.steps .box{
    padding: 20px;
    background-color: #fff;
    width: 378px;
    border-radius: 10px;
    margin: 20px;
    transition: .2s;
}
.steps .box:hover{
    background-color: rgb(208, 222, 236);
}
.steps .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    /* margin: 0 auto; */
    background:linear-gradient(45deg , rgb(186, 186, 226) , rgb(204, 211, 212));
    border-radius: 10px;
}
.steps .icon i{
    font-size: 30px;
    color: #fff;
}
.steps .box h4{
    font-size: 22px;
    margin-top: 10px;
    font-weight: 500;
}
.steps .box p{
    font-size: 16px;
    text-align: justify;
    opacity: .7;
}
.steps .box a{
    text-decoration: none;
    color: #8d8dcb;
    margin-top: 10px;
}
.category{
    margin-top: 20px;
    padding: 20px 100px;
}
.category .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.category .gallery{
    position: relative;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.category .title-text{
    position: absolute;
    right: 100px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category .title-text h4 {
    font-size: 35px;
    font-weight: 500;
    width: 400px;
    text-align: center;
    color: rgb(168, 190, 211);
}
.category .title-text p{
    font-size: 20px;
    opacity: .8;
    width: 320px;
    text-align: center;
    color: rgb(178, 199, 218);
}
.category .gallery .images{
    max-width: 100%;
    columns: 4 225px;
    margin-top: 1px;
    gap: 3px;
}
.category .images .card{
    display: block;
    width: 100%;
    list-style: none;
    border-radius: 6px;
    position: relative;
    transition: .2s;
}
.category .images .card:nth-child(2) img {
    height: 422px;
}
.category .images .card:nth-child(6) img {
    height: 423px;
}
.category .images img{
    width: 100%;
    object-fit: cover;
}
.category .images .card:hover img{
    filter: blur(3px) brightness(40%);
}
.category .images .card h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    z-index: -100;
    opacity: 0;
    transition: cubic-bezier(0.77, 0, 0.175, 1) .2s;
}
.category .images .card:hover h4 {
    z-index: 100;
    opacity: 1;
}